<body class="homie">
  
    <section class="container">
      <div class="header">
        <h1 class="animated wobble">Care for a cocktail?</h1>
        <img src="../images/bar.jpg">
      </div>
    
    </section>
      <div class="enter" display="block">
        <ul class="nav nav-pills" position="center">
          <li class="active"><a href="/items">ENTER</a></li>
        </ul>
      </div>
</body>