<html data-ember-extension="1">
  <head>
    <title>Drink Up</title>
    <link rel="stylesheet"                 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet"                 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <link rel="stylesheet"                 href="/styles/animate.min.css">
  </head>

  <body>
    <div class="container-fluid">

      <!-- Stack the columns on mobile by making one full-width and the other half-width -->
      <div class="row">
        <div class="col-xs-12 col-md-8"></div>
        <div class="col-xs-6 col-md-4"></div>
      </div>

      <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
      <div class="row">
        <div class="col-xs-6 col-md-4"></div>
        <div class="col-xs-6 col-md-4"></div>
        <div class="col-xs-6 col-md-4"></div>
      </div>

      <!-- Columns are always 50% wide, on mobile and desktop -->
      <div class="row">
        <div class="col-xs-6"></div>
        <div class="col-xs-6"></div>
      </div>
    </div>
    
    <div class="music">
      <audio controls autoplay>
        <source src="horse.ogg" type="audio/ogg">
        <source src="./images/StarlandVocalBand_AfternoonDelight.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    </div>
    <ul class="nav nav-pills">
      <li class="active"><a href="/">home</a></li>
      <li class="active"><a href="/profile">profile</a></li>
      <li class="active"><a href="mailto:gurliaccio@gmail.com">let us know what you think!</a></li>
    </ul>
      <section class="container">
        <%= yield %>
      </section>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>
